@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
}
body {
  background-color: rgb(236, 116, 116);
  color: rgb(133, 6, 6);
}
input {
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  border: 2px black solid;
}
h3 {
  margin-bottom: 10px;
  padding: 10px;
}
.flowers {
  font-size: 2rem;
  margin-top: 50px;
}
.flowers {
  cursor: pointer;
  padding: 20px;
}
